* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

.AdminCards {
  padding-top: 2rem;
  width: 900px;
  margin: auto;
  text-align: center;
}
.DeskItem {
  padding-top: 1rem;
  width: 900px;
  margin: auto;
  text-align: center;
}

.logbtn{
  padding-top: 3rem;
}
