body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'Montserrat', sans-serif;
}

.menu-bar{
  background-image: linear-gradient(-90deg, #5e6679, #5e8692);
}

.nav-link{
  color: black!important;
  border-bottom: 1px solid transparent;
}

.nav-link:hover{
  color: white!important;
  border-bottom: 1px solid white;
}

.navbar-brand{
  color:black!important;
  font-size: larger;
  font-style: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 1px solid transparent;
}

.navbar-brand:hover{
  color: white!important;
}

.paragraph{
  
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 24pt;
}

.paragraph-disclaimer
{
  width: 50%;
  margin: 12% auto;
  text-align: center;
  
}

.title{
  font-size: 50pt;
}

.remains{
  font-size: 15pt;
}

.vertical-separator-frontpage{
  border-left: solid 1px rosybrown;
}

.vertical-separator-products{
  border-right: solid 1px rosybrown;
}

.hr-color-custom{
  color: rosybrown;
}

.carousel-custom-background{
  background-color: rgba(255,255,255,0.75);
}

.text-justify-custom{
  text-align: justify;
}

.text-right-custom{
  text-align: right;
}

.align-bottom-custom{
  align-items: flex-start;
}

.w-35-custom{
  width: 35%;
}

.farmer-img-custom-dimensions{
  height: 250px;
}

.product-image-size-custom{
  width: 90%;
}

.product-buy-size-custom{
  width: 50px;
}

.bg-color-frontpage{
  background-color: linen;
}

.sticky-button-custom{
  z-index: 1020;
  position: fixed;
  bottom: -20px;
  right: 10px;
}

.w-100-custom{
  min-width: 100%;
}

.client-area-450px-width-custom{
  width: 450px!important;
  min-width: 450px!important;
  max-width: 450px!important;
}