
# on:
#   # Trigger analysis when pushing in master or pull requests, and when creating
#   # a pull request.
#   push:
#     branches:
#       - main
#   pull_request:
#       types: [opened, synchronize, reopened]
# name: Main Workflow
# jobs:
#   sonarcloud:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v2
#       with:
#         fetch-depth: 0
#     - name: Get main
#       run: git fetch origin main
#     - name: Install dependencies
#       run:  cd ./server && npm install
#     - name: Install Jest globally
#       run:  cd ./server && sudo npm install -g jest
#     - name: Run Tests
#       run:  cd ./server && npm run test
#     - name: SonarCloud Scan
#       uses: sonarsource/sonarcloud-github-action@master
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
